.main {
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
}

.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
}

.logo-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
}

.timer-wrapper {
  cursor: pointer;
}

.timer {
  /* opacity: 0.5; */
  margin: auto 20px;
  display: inline-block;
}

.description {
  width: 60%;
  text-align: center;
  margin: auto;
}

.play {
  border-left: 5px solid red;
  border-right: 5px solid red;
  height: 20px;
  width: 5px;
  display: inline-block;
  vertical-align: bottom;
}

.start-button {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  line-height: 200px;
  cursor: pointer;
  color: white;
  background-color: #ef643b;
  outline: none;
  border: none;
  opacity: 0.9;
  text-align: center;
  display: inline-block;
}

.start-button:hover {
  opacity: 1;
}

.heart {
  animation: beat 5s infinite alternate;
}

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.5);
  }
}

.menu {
  width: 50vw;
  position: absolute;
  left: -50vw;
  top: 0;
  height: 100%;
  background-color: #271a0ed1;
  margin: 0;
  z-index: 1;
  padding: 0;
  padding-top: 50px;
}

.menu-active {
  transition: 1s;
  left: 0;
}

.menu-item {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 10px auto;
  height: 5vw;
  line-height: 5vw;
  text-align: left;
  padding-left: 15px;
  cursor: pointer;
}

.menu-item:hover,
.menu-item:active,
.active {
  background-color: #ef643b;
  color: black;
}

.menu-icon-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.menu-icon {
  width: 35px;
  height: 5px;
  background-color: #ef643b;
  margin: 6px 6px;
}
