html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: #ef643b;
  font-weight: bold;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  line-height: 100%;
  font-size: calc(14px + (34 - 14) * ((100vw - 300px) / (1600 - 300)));
}
